@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Red+Hat+Mono&display=swap");
@keyframes textAlpha {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#hover:hover {
  color: red; }

header {
  font-family: "Montserrat", sans-serif; }
  header nav {
    background-color: black; }
    header nav div #logoNav {
      width: 35%;
      border-radius: 50%; }
      @media only screen and (min-width: 600px) {
        header nav div #logoNav {
          width: 20%; } }
      header nav div #logoNav img {
        border-radius: 50%; }
    header nav div div ul li a {
      animation-name: textAlpha;
      animation-duration: 5s; }
      header nav div div ul li a #hover:hover {
        color: red; }
    header nav div div ul li a img:hover {
      transform: rotateZ(720deg);
      cursor: pointer;
      transition: transform 2s; }

.bodyBackgroundIndex, .bodyBackgroundStaff {
  background-color: black;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.bodyBackgroundBuceo {
  background-image: url(../img/backgrounds/bodyBackgroundBuceo.jpg);
  background-color: black;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.bodyBackgroundHospedaje {
  background-image: url(../img/backgrounds/bodyBackgroundHospedaje.jpg);
  background-color: black;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.bodyBackgroundContacto {
  background-image: url(../img/backgrounds/bodyBackgroundContacto.jpg);
  background-color: black;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; }

#mainIndex {
  height: 700px;
  font-family: "Montserrat", sans-serif; }
  #mainIndex .music {
    z-index: 2;
    position: absolute;
    display: none;
    margin: 1%; }
    @media only screen and (min-width: 1024px) {
      #mainIndex .music {
        display: flex; } }

#mainBuceo, #mainStaff, #mainHospedaje {
  font-family: "Montserrat", sans-serif; }
  #mainBuceo section h1, #mainStaff section h1, #mainHospedaje section h1 {
    width: 99%;
    position: absolute;
    font-size: 1.1rem;
    text-align: center;
    color: white;
    margin: 5px 0 !important;
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: textAlpha;
    animation-duration: 5s; }
    @media only screen and (min-width: 600px) {
      #mainBuceo section h1, #mainStaff section h1, #mainHospedaje section h1 {
        font-size: 1.5rem; } }
    @media only screen and (min-width: 1024px) {
      #mainBuceo section h1, #mainStaff section h1, #mainHospedaje section h1 {
        font-size: 1.8rem; } }
  #mainBuceo section figure figcaption h2, #mainStaff section figure figcaption h2, #mainHospedaje section figure figcaption h2 {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    color: white;
    margin: 15px 0px;
    animation-name: textAlpha;
    animation-duration: 5s; }
    @media only screen and (min-width: 600px) {
      #mainBuceo section figure figcaption h2, #mainStaff section figure figcaption h2, #mainHospedaje section figure figcaption h2 {
        font-size: 1.2rem; } }
    @media only screen and (min-width: 1024px) {
      #mainBuceo section figure figcaption h2, #mainStaff section figure figcaption h2, #mainHospedaje section figure figcaption h2 {
        font-size: 1.5rem; } }
  #mainBuceo section figure figcaption p, #mainStaff section figure figcaption p, #mainHospedaje section figure figcaption p {
    width: 100%;
    font-size: 0.85rem;
    text-align: center;
    color: white;
    animation-name: textAlpha;
    animation-duration: 5s; }
    #mainBuceo section figure figcaption p .spam1, #mainStaff section figure figcaption p .spam1, #mainHospedaje section figure figcaption p .spam1 {
      color: white; }
    #mainBuceo section figure figcaption p .spam2, #mainStaff section figure figcaption p .spam2, #mainHospedaje section figure figcaption p .spam2 {
      color: red; }
    #mainBuceo section figure figcaption p .spam3, #mainStaff section figure figcaption p .spam3, #mainHospedaje section figure figcaption p .spam3 {
      color: blueviolet; }
    #mainBuceo section figure figcaption p .spam4, #mainStaff section figure figcaption p .spam4, #mainHospedaje section figure figcaption p .spam4 {
      color: deepskyblue; }
    #mainBuceo section figure figcaption p .spam5, #mainStaff section figure figcaption p .spam5, #mainHospedaje section figure figcaption p .spam5 {
      color: orangered; }
    #mainBuceo section figure figcaption p .spam6, #mainStaff section figure figcaption p .spam6, #mainHospedaje section figure figcaption p .spam6 {
      color: forestgreen; }
    #mainBuceo section figure figcaption p .spam7, #mainStaff section figure figcaption p .spam7, #mainHospedaje section figure figcaption p .spam7 {
      color: limegreen; }
    #mainBuceo section figure figcaption p .spam8, #mainStaff section figure figcaption p .spam8, #mainHospedaje section figure figcaption p .spam8 {
      color: hotpink; }
    #mainBuceo section figure figcaption p .spam9, #mainStaff section figure figcaption p .spam9, #mainHospedaje section figure figcaption p .spam9 {
      color: yellow; }
    #mainBuceo section figure figcaption p .spam10, #mainStaff section figure figcaption p .spam10, #mainHospedaje section figure figcaption p .spam10 {
      color: salmon; }
    #mainBuceo section figure figcaption p .spam11, #mainStaff section figure figcaption p .spam11, #mainHospedaje section figure figcaption p .spam11 {
      color: saddlebrown; }
  #mainBuceo section figure figcaption .description, #mainStaff section figure figcaption .description, #mainHospedaje section figure figcaption .description {
    width: 90%;
    font-size: 0.85rem;
    text-align: left;
    color: white;
    font-style: italic;
    margin: 15px;
    animation-name: textAlpha;
    animation-duration: 5s; }

#mainContacto {
  font-family: "Montserrat", sans-serif; }
  #mainContacto h1 {
    width: 99%;
    position: absolute;
    font-size: 1.1rem;
    text-align: center;
    color: white;
    margin: 5px 0 !important;
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: textAlpha;
    animation-duration: 5s;
    transform: translateX(-5px); }
    @media only screen and (min-width: 600px) {
      #mainContacto h1 {
        font-size: 1.5rem; } }
    @media only screen and (min-width: 1024px) {
      #mainContacto h1 {
        font-size: 1.8rem; } }
  #mainContacto form fieldset div legend, #mainContacto form fieldset div label {
    animation-name: textAlpha;
    animation-duration: 5s;
    font-size: 0.8rem; }

footer {
  background-color: black; }
  footer div .divFooter {
    width: 20%;
    margin: 1%;
    padding: 0;
    justify-content: center; }
    @media only screen and (min-width: 768px) {
      footer div .divFooter {
        width: 17%; } }
    @media only screen and (min-width: 1024px) {
      footer div .divFooter {
        width: 11%; } }
  footer div .divFooterContact {
    width: 28%;
    margin: 0.5%;
    padding: 0;
    justify-content: center; }
    @media only screen and (min-width: 768px) {
      footer div .divFooterContact {
        width: 25%; } }
    @media only screen and (min-width: 1024px) {
      footer div .divFooterContact {
        width: 19%; } }
    footer div .divFooterContact ul {
      list-style: circle;
      color: white;
      animation-name: textAlpha;
      animation-duration: 5s;
      font-size: 0.3rem; }
      @media only screen and (min-width: 768px) {
        footer div .divFooterContact ul {
          font-size: 0.45rem; } }
      @media only screen and (min-width: 1024px) {
        footer div .divFooterContact ul {
          font-size: 0.7rem; } }
      footer div .divFooterContact ul .whatsapp {
        color: limegreen; }
