

//colors
$backgroundBlack: black;
$backgroundTransparent: rgba(0, 0, 0, .5);

//width
$w-100:100%;
$w-75:75%;
$w-50:50%;
$w-25:25%;

$paleta:(
	'uno':black,
	'dos':white,
	'tres':red,
	'cuatro':violet,);